.contact-wrapper {
    color: #cacaca;
    background: #242a35
}

.txt-bg-contact::before {
    content: "Contact Me"
}

.contact-links {
    color: #fff;
    font-size: 16px
}

.line-height-normal {
    line-height: 90%
}

@media (min-width:200px) and (max-width:768px) {
    .txt-bg-contact::before {
        padding-top: 15px
    }
}

.e-mail:before {
    content: "\72\6C\61\6E\67\65\66\65"
}

.e-mail:after {
    content: "\75\6D\69\63\68\2E\65\64\75\0A"
}